@import "mixins/mixins";
@import "variables";

.navbar {
	display: none;
}

.navbar-device,
.navbar-sm,
.navbar-md,
.navbar-lg {
	display: block;
}

.just-navbar-submenu-toggle {
	display: inline-block;
}

// Toggle styles
.navbar-toggle {
	width: 40px;
	height: 40px;
	background: none;
	border: none;
	cursor: pointer;

	.icon {
		width: 24px;
		height: 24px;
		fill: $gray;
	}
}

// Hide toggle
.navbar-close-mobile-menu,
.navbar-toggle-mobile-menu {
	display: none;
}

// Sticky styles
.just-navbar--sticky {
	position: fixed;
	background: #FFF;
	top: 0;
	right: 0;
	left: 0;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
	z-index: 9999999;
}

// Navbar common styles

// Top panel
.navbar-panel {
	@include flexbox();
	@include justify-content(space-between);
	@include align-items(center);
}

.navbar-sm,
.navbar-md,
.navbar-lg {

	// Top panel
	.navbar-panel {
		padding-left: 15px;
		padding-right: 15px;
	}

	// Navbar navigation
	.navbar-nav {
		@include flexbox();
		@include justify-content(space-between);
	}

	// menu styles
	.navbar-nav li {
		position: relative;

		a {
			display: block;
			padding: 15px 20px;
			transition: 180ms ease-in-out;
			color: $gray;
		}

		&.active,
		&:active,
		&:focus,
		&:hover {
			> a {
				color: $primary;
			}
		}

		// item with submenu, add padding for arrow
		&.navbar-has-submenu {
			a {
				padding-right: 25px;
			}
		}
	}

	// Open sumenu - rotate arrow
	.navbar-nav li.focus {
		> .just-navbar-submenu-toggle {
			transform: rotate(180deg);
		}
	}

	// submenu
	.navbar-nav-dropdown {
		position: absolute;
		top: 100%;
		left: 0;
		min-width: 175px;
		z-index: 9999999;
		visibility: hidden;
		opacity: 0;
		background: #fff;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.13);
		transform: translateY(25px);
		transition: 200ms cubic-bezier(0, 0, 0.3, 1);

		.navbar-nav-dropdown {
			left: 100%;
			top: 16px;
		}
	}

	// open state
	.navbar-nav li.focus > .navbar-nav-dropdown {
		visibility: visible;
		transform: translateY(0);
		opacity: 1;
	}

	// submenu toggle
	.just-navbar-submenu-toggle {
		display: inline-block;
		position: absolute;
		top: 13px;
		right: 0;
		width: 24px;
		height: 24px;
		cursor: pointer;
		background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9IiM3NTc1NzUiPjxwYXRoIGQ9Ik0xNi41OTQgOC41NzhsMS40MDYgMS40MDYtNiA2LTYtNiAxLjQwNi0xLjQwNiA0LjU5NCA0LjU5NHoiLz48L3N2Zz4=) no-repeat center center;
	}

}

// Include navbar components
@import "just-navbar/just-navbar-components";

// Include styles of specific navbars
@import "just-navbar/just-navbar-device";
@import "just-navbar/just-navbar-sm";