@import "mixins/mixins";
@import "normalise";

* {
  margin: 0;
  padding: 0;
}

a,
button{
  &:active,
  &:focus {
    outline: none;
  }
}

li{
  list-style: none;
}

a {
  text-decoration: none;
}
